:root{

	--maincolor: #CCCC00;
	--secondarycolor: #FFFF00;

	--bordercolor: #FFFF00;

	--maintext: #fff;
	--secondarytext:  #eeeeee;

	--themedotborder: black;

	--previewbackground: rgb(25, 39, 52, 0.8);
	--previewshadow: #111921;
}

.post-preview{
	background-color: #515a48;
	padding: 15px;
}

.post-intro{
	color: #eeeeee;
	font-size: 16px;
}

.post-title{ 
	color: #fff;
	margin: 0;
}